* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 600px;
    min-width: 600px;
    background-image: url(https://wallpaper.forfun.com/fetch/16/16b882fa988ab528cbe12f8ae188c25c.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 50px;
    text-align: center;
    color: #0039A6;
    text-shadow: 1px 1px 2px #000000
}
header h1 {
    margin-bottom: 30px;
}

header p {
    padding-left: 100px;
}

span {
    color: #E52521;
}

.titulo {
    color: #0039A6;
}

main {
    display: flex;
    flex-direction: column;
}
.relogio {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8B4513;
    border-radius: 20px;
}

.horario {
    width: 200px;
    height: 180px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #CC7722;
    border-radius: 15px;
    border: 4px solid #CC7722;
    box-shadow: 4px 4px 0px #5c3c0d;

}

.relogio h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px #5c3c0d;
    margin-bottom: 20px;
}

.relogio p {
    font-size: 1rem  ;
    text-align: center;
    text-shadow: 2px 2px #5c3c0d;
}

.opcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFD700;
    text-shadow: 1px 1px 2px #000000
}

a:hover {
    color: rgb(255, 215, 0, 0.8);
}

.bandeira {
    width: 80px;
    margin-right: 15px;
}

.opcao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opcao .escolha {
    display: none;
    width: 40px;
    transition: 0.3 ease;
}

.opcao:hover .escolha {
    display: inline;
}

